
/*
______________________________________________

	DEFINITIONS DES CONSTANTES DE STYLES 
______________________________________________
*/

:root {

    /*
    Style sur les polices :
    -----------------------
    */
    /* --typo-generale: 'Fira Sans', 'Open Sans'; */

    /* Polices titres & sous-titre : */
    /* --typo-titres:  'Kanit', 'Exo 2'; */


    /*
    Style sur les couleurs :
    ------------------------
    */

    /* --navbar-brand-couleur: rgb(255, 166, 0); */
    --nav-link: rgb(0, 0, 0);
    --nav-link-active: rgb(0, 123, 255);


    /* Redéfinition des couleurs de Bootstrap :*/
    /* --bs-warning: rgb(255, 166,  0);
    --bs-warning-rgb: 255, 166, 0;

    --bs-warning-bg-subtle: rgb(250, 240, 100);
    --bs-warning-border-subtle: rgb(250, 240, 100); */

}



/*
________________________________________________

	DEFINITION DES PROPRIETES DES CLASSES CSS
________________________________________________
*/

/*
----------------------
PROPRIETES GENERALES :
----------------------
*/

/*
Définition du fond :
--------------------
*/

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 84, 99, 0.8); /* blanc translucide, ajuste la valeur si besoin */
    z-index: -1; /* derrière tout le contenu */
}
body {
      background-image: url('../backgrounds/freepik.png'); /* chemin vers ton image */
    background-repeat: no-repeat;   /* empêche l'image de se répéter */
    background-size: cover;         /* ajuste l'image pour couvrir tout l'écran */
    background-position: center;    /* centre l'image */
    background-attachment: fixed;   /* l'image reste fixe quand on scrolle */
}
.card {
    background-color: rgb(31, 36, 43); /* blanc avec transparence */
    border-radius: 0.75rem;
    backdrop-filter: blur(5px); /* effet verre dépoli */
}



#h2{ 
    color:rgb(0, 123, 255);

}
#p{
    color: rgb(0, 0, 0)
}
  /*
PROPRIETES SUR LE HEADER & NAVBAR :
-----------------------------------
*/

/*
Définition du fond du header :
------------------------------
*/

.background-header {
    background-image: linear-gradient(0deg, rgb(206, 206, 206), rgba(128, 128, 128)), url('../backgrounds/header_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/ 
    
  }

/*
Couleur des éléments de navigations :
-------------------------------------
*/

.navbar {
    font-size: 0.8em;
}

.nav-link-icon {
    font-size: 1.5em;
}

.nav-link {
    color: var(--nav-link);
}

.nav-link:hover, .dropdown-item:hover {
    color: var(--bs-warning);
}

.nav-link:active {
    color: rgba(214, 214, 214, 0);
}


.navbar-nav .nav-item .active {
    color: var(--nav-link-active);
  }


.dropdown-item {
    font-weight: bold;
    color: black;
}

.dropdown-item:active {
    background-color: var(--navbar-brand-couleur);
    color: white;
}


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.877);
}

#menu{
    background-color: rgb(0, 123, 255) !important;
}


.background-header h1 {
    color: rgb(0, 123, 255); /* Bleu vif, même style que ton logo */
    font-weight: bold;
}


 h2 , p , li, i {color:white;
}
